# This is a sample .env file for local development.
# To get started, copy this file to .env and fill in the values

# OpenAI API key
OPENAI_API_KEY="sk-proj-1234567890"
# Connection for Supabase using connection pooling
DATABASE_URL="postgresql://postgres.my-database.com/my-database-pooled"
# Direct URL connection for Supabase. Used for migrations via Prisma
DIRECT_URL="postgresql://postgres.my-database.com/my-database-direct"


