@import "tailwindcss";

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Core */
  --color-background: #f8fafc;
  --color-foreground: #0f172a;

  /* Surfaces */
  --color-surface: #ffffff;
  --color-surface-hover: #f1f5f9;

  /* Borders */
  --color-border: #94a3b8;
  --color-border-muted: #f1f5f9;

  /* Text */
  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #94a3b8;

  /* Primary */
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-primary-active: #1d4ed8;
  --color-primary-muted: #dbeafe;

  /* Accent */
  --color-accent: #60a5fa;
  --color-accent-muted: #eff6ff;

  /* Status */
  --color-success: #10b981;
  --color-error: #ef4444;
}

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);

  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);

  --color-border: var(--color-border);
  --color-border-muted: var(--color-border-muted);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted: var(--color-text-muted);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);
  --color-primary-muted: var(--color-primary-muted);

  --color-accent: var(--color-accent);
  --color-accent-muted: var(--color-accent-muted);

  --color-success: var(--color-success);
  --color-error: var(--color-error);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0f1110;
    --color-foreground: #f3f5f2;

    --color-surface: #171917;
    --color-surface-hover: #1d201d;

    --color-border: #2b2f2b;
    --color-border-muted: #232623;

    --color-text-primary: #f3f5f2;
    --color-text-secondary: #c2c8bf;
    --color-text-muted: #8b9288;

    --color-primary: #7db39b;
    --color-primary-hover: #6fa18b;
    --color-primary-active: #628f7b;
    --color-primary-muted: #1c2a24;

    --color-success: #7db39b;
    --color-error: #d17c7c;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-sans), sans-serif;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text-primary;
  }

  p,
  span {
    @apply text-text-secondary;
  }
}

/* Loading "Spinner" */
/* From Uiverse.io by Pradeepsaranbishnoi */
.hand {
  --skin-color: #e4c560;
  --tap-speed: 0.6s;
  --tap-stagger: 0.1s;
  position: relative;
  width: 80px;
  height: 60px;
  margin-left: 80px;
}

.hand:before {
  content: "";
  display: block;
  width: 180%;
  height: 75%;
  position: absolute;
  top: 70%;
  right: 20%;
  background-color: black;
  border-radius: 40px 10px;
  filter: blur(10px);
  opacity: 0.3;
}

.palm {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--skin-color);
  border-radius: 10px 40px;
}

.thumb {
  position: absolute;
  width: 120%;
  height: 38px;
  background-color: var(--skin-color);
  bottom: -18%;
  right: 1%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-20deg);
  border-radius: 30px 20px 20px 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.thumb:after {
  width: 20%;
  height: 60%;
  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -8%;
  left: 5px;
  border-radius: 60% 10% 10% 30%;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
}

.finger {
  position: absolute;
  width: 80%;
  height: 35px;
  background-color: var(--skin-color);
  bottom: 32%;
  right: 64%;
  transform-origin: 100% 20px;
  animation-duration: calc(var(--tap-speed) * 2);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform: rotate(10deg);
}

.finger:before {
  content: "";
  position: absolute;
  width: 140%;
  height: 30px;
  background-color: var(--skin-color);
  bottom: 8%;
  right: 65%;
  transform-origin: calc(100% - 20px) 20px;
  transform: rotate(-60deg);
  border-radius: 20px;
}

.finger:nth-child(1) {
  animation-delay: 0;
  filter: brightness(70%);
  animation-name: tap-upper-1;
}

.finger:nth-child(2) {
  animation-delay: var(--tap-stagger);
  filter: brightness(80%);
  animation-name: tap-upper-2;
}

.finger:nth-child(3) {
  animation-delay: calc(var(--tap-stagger) * 2);
  filter: brightness(90%);
  animation-name: tap-upper-3;
}

.finger:nth-child(4) {
  animation-delay: calc(var(--tap-stagger) * 3);
  filter: brightness(100%);
  animation-name: tap-upper-4;
}

@keyframes tap-upper-1 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.4);
  }

  40% {
    transform: rotate(50deg) scale(0.4);
  }
}

@keyframes tap-upper-2 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.6);
  }

  40% {
    transform: rotate(50deg) scale(0.6);
  }
}

@keyframes tap-upper-3 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(0.8);
  }

  40% {
    transform: rotate(50deg) scale(0.8);
  }
}

@keyframes tap-upper-4 {
  0%,
  50%,
  100% {
    transform: rotate(10deg) scale(1);
  }

  40% {
    transform: rotate(50deg) scale(1);
  }
}
